<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="GridTest" verbose="1" parallel="tests" thread-count="3">

	<parameter name="hub_url" value="http://10.162.167.80:4444/wd/hub" />

	<test name="TestVista" parallel="instances">
		<parameters>
			<parameter name="platform" value="VISTA" />
			<parameter name="browser" value="Internet Explorer" />
			<parameter name="version" value="" />
			<parameter name="url"
				value="http://dl.dropbox.com/u/55228056/bmicalculator.html" />
		</parameters>
		<classes>
			<class name="com.ariba.ai.test.SeGridTest" />
		</classes>
	</test>
	<test name="TestLinuxN" parallel="instances">
		<parameters>
			<parameter name="platform" value="LINUX" />
			<parameter name="browser" value="firefox" />
			<parameter name="version" value="" />
			<parameter name="url"
				value="http://dl.dropbox.com/u/55228056/bmicalculator.html" />
		</parameters>
		<classes>
			<class name="com.ariba.ai.test.SeGridTest3" />
		</classes>
	</test>
	
	<!-- <test name="TestMAC" parallel="instances"> <parameters> <parameter 
		name="platform" value="MACS" /> <parameter name="browser" value="Safari" 
		/> <parameter name="version" value="" /> <parameter name="url" value="http://dl.dropbox.com/u/55228056/bmicalculator.html" 
		/> </parameters> <classes> <class name="com.ariba.ai.test.SeGridTest" /> 
		<class name="com.ariba.ai.test.SeGridTest2" /> </classes> </test> -->
	<!-- <test name="TestLinux" > <parameters> <parameter name="platform" value="LINUX" 
		/> <parameter name="browser" value="firefox" /> <parameter name="version" 
		value="" /> <parameter name="url" value="http://dl.dropbox.com/u/55228056/bmicalculator.html" 
		/> </parameters> <classes> <class name="com.ariba.ai.test.SeGridTest" /> 
		</classes> </test> <test name="TestLinux2" > <parameters> <parameter name="platform" 
		value="LINUX" /> <parameter name="browser" value="firefox" /> <parameter 
		name="version" value="" /> <parameter name="url" value="http://dl.dropbox.com/u/55228056/bmicalculator.html" 
		/> </parameters> <classes> <class name="com.ariba.ai.test.SeGridTest2" /> 
		</classes> </test> -->
</suite>